
.idea/

cmake-build-debug/

cmake-build-debug-directx12/

cmake-build-debug-directx9/

cmake-build-debug-opengl/

cmake-build-debug-vulkan/

cmake-build-minsizerel/

cmake-build-release/

cmake-build-release-directx12/

cmake-build-release-directx9/

cmake-build-release-opengl/

cmake-build-release-vulkan/

cmake-build-relwithdebinfo/

cmake-build-relwithdebinfo-directx12/

cmake-build-relwithdebinfo-directx9/

cmake-build-relwithdebinfo-opengl/

cmake-build-relwithdebinfo-vulkan/
